.btn {
    border: 1px solid #009999;
    border-radius: 20px;
  }

  .viewButton{
    color: #fff;
    background: #009999;
  }

  .removeButton{
    color: #009999;
    background: none;
  }
  
  .btn:hover,
  .btn:focus {
    color: #fff;
    background: #009999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .itemImage{
    border-radius:15px;
  }
